@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

:root {
  --raw-primary: #072d44;
  --raw-secondary: #064469;
  --raw-tertiary: #5790ab;
  --raw-fourth: #9ccddb;
  --raw-fifth: #d0d7e1;
}

@theme {
  --color-primary: var(--raw-primary);
  --color-secondary: var(--raw-secondary);
  --color-tertiary: var(--raw-tertiary);
  --color-fourth: var(--raw-fourth);
  --color-fifth: var(--raw-fifth);
  --font-salsa: "Salsa", cursive;
}

html {
  font-family: "Poppins", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .animate-scroll {
    animation-duration: 20s;
  }
}
