@import "tailwindcss";

:root {
  --raw-primary: #072d44;
  --raw-secondary: #064469;
  --raw-tertiary: #5790ab;
  --raw-fourth: #9ccddb;
  --raw-fifth: #d0d7e1;
}

@theme {
  --color-primary: var(--raw-primary);
  --color-secondary: var(--raw-secondary);
  --color-tertiary: var(--raw-tertiary);
  --color-fourth: var(--raw-fourth);
  --color-fifth: var(--raw-fifth);
}
